In [4]:
import pandas as pd
import matplotlib.pyplot as plt

### Carregando dados

In [5]:
data = pd.read_csv('DATASET_1.csv')
data.head()

,date,id_str,user_name,text,time,latitude,longitude
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.594333,-155.971728
1,2018-05-06,2.929292e+07,queeraspoetry,good 🤙 🌋 center spiritual living hawai,20:33:41,19.560340,-154.986600
2,2018-05-06,8.149151e+17,Hazards_Network,monday january earthquake magnitude shook km e...,20:30:04,19.078167,-155.187667
3,2018-05-06,4.142280e+08,NaomiCooper808,vacay ladat waimea hawaii county hawai,20:09:43,20.020278,-155.667778
4,2018-05-06,2.011251e+07,vioart527,last sunset hawaii next time,19:46:08,19.650000,-155.994000

### Carregando **dicionário de palavras**

In [6]:
with open('disasters_words.txt') as loader:
    tmp = loader.readlines()
    text = " ".join(tmp).replace(',',' ').lower().split(' ')
    dict_worlds = sorted(set([x for x in text if len(x) > 1]))

### Verificando **Intersecção**
![inter](https://upload.wikimedia.org/wikipedia/commons/4/45/Set_intersection.png)

### Adicionando novo campo ao datframe

In [7]:
data['interest'] = 0
data.head(2)

,date,id_str,user_name,text,time,latitude,longitude,interest
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.594333,-155.971728,0
1,2018-05-06,2.929292e+07,queeraspoetry,good 🤙 🌋 center spiritual living hawai,20:33:41,19.560340,-154.986600,0

In [8]:
for index in data.index:
    text = data['text'][index]
    result = pd.Index(str(text).split()).intersection(pd.Index(dict_worlds)) 
    if len(result) > 0:
        if data['interest'][index] == 1:
            pass
        else:
            for perr in data[data['user_name'].str.contains(data['user_name'][index])].index:
                data.loc[perr, 'interest'] = 1

### Verificando o dataframe após a execução do algoritmo de seleção

In [9]:
relateds = data[data['interest'] == 1]
print("Total de conteúdo relacionado: {}\n".format(len(relateds)))
data.head(15)

Total de conteúdo relacionado: 3638

,date,id_str,user_name,text,time,latitude,longitude,interest
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.594333,-155.971728,1
1,2018-05-06,2.929292e+07,queeraspoetry,good 🤙 🌋 center spiritual living hawai,20:33:41,19.560340,-154.986600,1
2,2018-05-06,8.149151e+17,Hazards_Network,monday january earthquake magnitude shook km e...,20:30:04,19.078167,-155.187667,1
3,2018-05-06,4.142280e+08,NaomiCooper808,vacay ladat waimea hawaii county hawai,20:09:43,20.020278,-155.667778,0
4,2018-05-06,2.011251e+07,vioart527,last sunset hawaii next time,19:46:08,19.650000,-155.994000,0
5,2018-05-06,2.379071e+09,tiedyehobo,uzygxss tiedyehobo tiedye hippie hawaii tiedyehob,18:52:58,19.525750,-155.923580,1
6,2018-05-06,1.864570e+07,syvideo,adventures covering lava flow hilo hi leilani ...,18:18:05,19.473500,-154.920000,1
7,2018-05-06,1.882971e+07,rodney_o,breakfast pahala leftovers rustyshawaiian coff...,18:15:13,19.204109,-155.479005,0
8,2018-05-06,4.934616e+08,ashleyyyz3,home 🍃 napoopoo hawai,17:52:28,19.476400,-155.923000,1
9,2018-05-06,1.714726e+09,itsnotben,hawaii round hours airplane earthquakes volcan...,17:38:12,19.431649,-155.216870,1
10,2018-05-06,2.918153e+09,eq_map_es,【 】 isla de hawaii hawaii km utc sismo terremo...,13:30:49,19.046000,-155.173000,1
11,2018-05-06,8.195031e+08,eq_map_ww,island hawaii hawaii depth km may utc may epic...,13:30:48,19.046000,-155.173000,0
12,2018-05-06,2.955319e+08,eq_map,【 】 island hawaii hawaii km jst utc g icwpbsck...,13:30:48,19.046000,-155.173000,0
13,2018-05-06,6.063745e+08,shellokitty78,little gecko joined us drink ☺ ️ kailua kona h...,09:27:15,19.650000,-155.994000,0
14,2018-05-06,8.149151e+17,Hazards_Network,monday january earthquake magnitude shook km s...,08:20:04,19.371334,-155.033829,1

### Somente relacionados

In [10]:
relateds.head()

,date,id_str,user_name,text,time,latitude,longitude,interest
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.594333,-155.971728,1
1,2018-05-06,2.929292e+07,queeraspoetry,good 🤙 🌋 center spiritual living hawai,20:33:41,19.560340,-154.986600,1
2,2018-05-06,8.149151e+17,Hazards_Network,monday january earthquake magnitude shook km e...,20:30:04,19.078167,-155.187667,1
5,2018-05-06,2.379071e+09,tiedyehobo,uzygxss tiedyehobo tiedye hippie hawaii tiedyehob,18:52:58,19.525750,-155.923580,1
6,2018-05-06,1.864570e+07,syvideo,adventures covering lava flow hilo hi leilani ...,18:18:05,19.473500,-154.920000,1

### Removendo a coluna **interest**

In [11]:
relateds.drop(columns='interest', inplace = True)

/home/mpgxc/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

### Exportando dataframe

In [12]:
relateds.to_csv("DATASET_2.csv",  index = None)